.bookmarks {
  text-align: center;
}

.bookmarks-header {
  background-color: white;
  align-self: flex-start;
  width: 100%;
  margin-left: 5px;
}

.user-menu-text-name {
  margin-top: -25px;
  color: #767575;
  font-weight: 400;
  font-size: 15px;
}
