/* @media screen & (max-width: 900px) {
  .noticontent {
    display: flex;
    align-items: flex-start;
    padding-bottom: 10px;
  }
} */

.parent {
  position: relative;
  float: left;
  text-align: center;
  min-height: 150px;
  width: 278px;
  display: "inline-block";
}

/*
.retweet-icon {
  color: rgb(0 186 124);
  font-size: 30px !important;
  line-height: normal;
  position: relative;
  top: 5px;
  left: 5px;
  width: 100%;
  height: auto;
} */

.postavatar {
  font-size: 30px !important;
  line-height: normal;
  position: relative;
  top: 15px;
  left: 20px;
  width: 100%;
  height: auto;
}

.display-name {
  font-size: 15px;
  font-weight: 400;
  line-height: normal;
  position: relative;
  text-align: left;
  left: 55px;
  height: auto;
  padding-top: 20px;
}

.login-news {
  font-size: 15px;
  font-weight: 400;
  line-height: normal;
  position: relative;
  text-align: left;
  left: 20px;
  height: auto;
  padding-top: 20px;
}

.content2 {
  font-size: 15px;
  font-weight: 400;
  line-height: normal;
  position: relative;
  text-align: left;
  left: 55px;
  width: 450px;
  height: auto;
  padding-bottom: 10px;
}

.wrapper2 {
  flex: auto;
  height: max-content !important;
  width: 100%;
  margin: auto;
  cursor: pointer;
  border: none;
  display: flex;
  flex-flow: auto;
  font-weight: bold;
  align-items: flex-start;
}

.wrapper {
  background-color: white;
  height: max-content !important;
  width: 100%;
  margin: 0%;
  cursor: pointer;
  border: none;
  border-top: 1px solid rgb(225 225 225 / 40%);
  font-weight: bold;
  display: flex;
  flex-flow: row wrap;
  text-align: left;
}

.wrapper > * {
  flex: 1 100%;
}

.wrapper:hover {
  background-color: #e9ebec;

  /* border-radius: 21px; */
  height: max-content !important;
  width: 100%;
  border-width: thin;
  border-color: rgb(230 230 230);
}

.like-icon {
  color: rgb(249 24 128);
  font-size: 30px !important;
  line-height: normal;
  position: relative;
  top: 15px;
  left: 10px;
  width: 100%;
  height: auto;
}

.retweet-icon {
  color: rgb(0 186 124);
  font-size: 30px !important;
  line-height: normal;
  position: relative;
  top: 15px;
  left: 10px;
  width: 100%;
  height: auto;
}

.missed-icon {
  color: rgb(121 75 196);
  font-size: 30px !important;
  line-height: normal;
  position: relative;
  top: 15px;
  left: 10px;
  width: 100%;
  height: auto;
}

.followed-icon {
  color: rgb(29 155 240);
  font-size: 30px !important;
  line-height: normal;
  position: relative;
  top: 15px;
  left: 10px;
  width: 100%;
  height: auto;
}

.login-icon {
  color: rgb(29 155 240);
  font-size: 30px !important;
  line-height: normal;
  position: relative;
  top: 15px;
  left: 10px;
  width: 100%;
  height: auto;
}

.news-icon {
  color: rgb(29 155 240);
  font-size: 30px !important;
  line-height: normal;
  position: relative;
  top: 15px;
  left: 10px;
  width: 100%;
  height: auto;
}
