/* .settings {
  text-align: center;
} */
.header1 {
  text-align: left;
  font-size: 20px;
  font-weight: 650;
  padding-left: 50px;
  padding-top: 20px;
  padding-bottom: 0;
}

.header3 {
  text-align: left;
  font-size: 20px;
  font-weight: 700;
  padding-left: 10px;
  padding-top: -1000px;
  top: -50px;
  position: relative;

  /* padding-bottom: 100px; */
}

.header2 {
  text-align: left;
  font-size: 14px;
  font-weight: 400;
  padding-left: 10px;
  padding-top: 0;
  padding-bottom: 0;
  top: -50px;
  color: rgb(89 105 118);
  position: relative;
}

.flex1 {
  background-color: white;
  color: black;
  font-weight: bold;
  text-align: center;

  /* padding: 20px; */
  display: flex;
  flex-direction: row;
}

.flex-container {
  flex: auto;
  background-color: white;
  width: 310px;
  height: 53px;
  margin: auto;
  cursor: pointer;
  border: none;
  font-weight: bold;
}

.flex-container:hover {
  background-color: #e9ebec;

  /* border-radius: 21px; */
  height: 53px;
  width: 310px; /* 278px */
}

.backarrow {
  color: black;
  font-size: 25px !important;
  line-height: normal;
  position: relative;
  top: -40px;
  left: 10px;
  width: 35px;
  height: 35px;
  font-weight: lighter;
  transform: scale(0.9);
  cursor: pointer;
}

.backarrow:hover {
  background-color: #e9ebec;
  border-radius: 50%;
  width: 35px;
  height: 35px;
}

.signup-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.signup-form label {
  margin-bottom: 15px;
  color: rgb(118 118 118);
  position: relative;
}

.signup-form-text {
  margin-right: 15px;
}

.signup-form span {
  position: absolute;
  bottom: 40px;
  left: 38px;
  transform: translateY(40px);
  transition-duration: 300ms;
  font-size: 17px;
}

label:focus-within > span,
input:not(:placeholder-shown) + span {
  color: #1d9bf0;
  transform: translateY(20px);
  font-size: 0.825em;
}

.password-adornment {
  margin-top: -28px !important;
  right: 2.5% !important;
  position: absolute;
}

.title {
  margin-left: 5%;
}

.body {
  margin-left: auto;
  margin-right: auto;
}

.singin-button {
  background-color: rgb(29 155 240) !important;
  border: none !important;
  color: white !important;
  font-weight: 700 !important;
  font-size: 15px !important;
  text-transform: inherit !important;
  border-radius: 30px !important;
  height: 45px !important;
  padding-top: 1% !important;
  margin-bottom: 100% !important;
  margin-top: 5% !important;
  left: 70%;
  font-family:
    TwitterChirp,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Helvetica,
    Arial,
    sans-serif !important;
  line-height: 20px !important;
  width: 25% !important;
}

.singin-button:hover {
  background-color: rgb(56 202 247) !important;
}

.dont-have-acount {
  font-size: 14px;
  font-weight: 400;
  color: #536471;
}

.login-text {
  display: flex;
  justify-content: flex-start;
  margin-top: 160px;
}

.login-text-span {
  color: #1d9bf0;
}

.password-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
