.search {
  text-align: center;
  /* display:flexbox */
}

.searchbarTop {
  background-color: "#E2F1F1";
  display:block;
  position:relative;
  /* z-index:10; */

}


.header1 {
  font-size: 20px;
  font-weight: bold;
  padding-left: 20%;
  padding-top: 5px;
  padding-bottom: 13px;
  position: relative;
  z-index: 10;
}

.flex1 {
  background-color: white;
  color: black;
  font-weight: bold;
  text-align: center;

  /* padding: 20px; */
  display: flex;
  flex-direction: row;
}

.flex-container {
  flex: auto;
  background-color: white;
  width: 278px;
  height: 53px;
  margin: auto;
  cursor: pointer;
  border: none;
  font-weight: bold;
}

.flex-container:hover {
  background-color: #e9ebec;

  /* border-radius: 21px; */
  height: 53px;
  width: 278px;
}