.feed {
  flex-grow: 1;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.feed::-webkit-scrollbar {
  display: none;
}

.loader-container {
  margin: 10px 0;
  display: flex;
  justify-content: center;
}
