.imagebox {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.imagebox-image {
  border-radius: 15px;
  padding: 5px;
  background-position: center center;
  background-size: cover;
  margin: 5px;
  flex-grow: 1;
}

.row-images {
  display: flex;
}

.delete-image {
  background-color: rgba(31 38 42 / 95%);
  width: 30px;
  height: 30px;
  border-radius: 20px;
  text-align: center;
  font-size: 20px;
  color: white;
  font-weight: lighter;
  cursor: pointer;
}

.delete-image:hover {
  background-color: rgb(57 59 57 / 25500%);
}
