.popup {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
  max-height: 100%;
  background-color: rgb(6 64 112 / 90.4%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-inner {
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.popup-inner > img {
  justify-content: center;
  padding: 32px;
  width: 50%;
  height: 50%;
}

.popup-inner .close-btn {
  /* position: absolute; */
  border-radius: 25px;
  margin-top: 250px;
  margin-left: 250px;
  padding: 10px;
  top: 16px;
  left: 50px;
}

.popup-inner .close-btn:hover {
  cursor: pointer;
  color: black;
  background-color: gray;
}
