.popup-page {
  cursor: auto;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 20%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.popup-page-click-detect {
  padding: 2px;
  background-color: #fff;
  border-radius: 10px;
  max-height: 650px;
  top: 50%;
  overflow-y: scroll;
}

.close-btn {
  border-radius: 25px;
  padding: 10px;
  top: 16px;
  left: 50px;
}

.close-btn:hover {
  cursor: pointer;
  color: black;
  background-color: gray;
}
