.popup-page {
  cursor: auto;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 20%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.popup-page-click-detect {
  padding: 2px;
  padding-right: 2px;
  background-color: #fff;
  border-radius: 10px;
  max-height: 650px;
  top: 50%;
  overflow-y: scroll;
}

.close-btn {
  border-radius: 50px;
  margin: 5px;
  padding: 5px;
}

.close-btn:hover {
  cursor: pointer;
  color: black;
  background-color: rgb(198 195 195);
}

@media screen and (max-width: 768px) {
  .popup-page-click-detect {
    width: 80% !important;
  }
}

@media screen and (max-width: 426px) {
  .popup-page-click-detect {
    width: 100% !important;
  }
}

.tweet-header {
  background-color: white;
  width: 100vh;
  justify-content: space-between;
  margin-top: 5px;
  padding-left: 20px;
}

.horizontal-align {
  display: flex;
  justify-content: space-between;
}

.button-style {
  float: right;
  background-color: rgb(100 155 204);
  border-radius: 30px;
  border-color: aliceblue;
  color: white;
  text-align: center;
  font-size: 15px;
  cursor: pointer;
  padding-top: 0;
  width: 100px;
  height: 25px;
  margin: 10px;
}
