@media screen & (max-width: 900px) {
  .post {
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid var(--twitter-background);
    padding-bottom: 10px;
  }
}

.postbody {
  flex: 1;
  padding: 0 10px;
  text-align: left;
}

.postbody > img {
  border-radius: 20px;
}

.postfooter {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.postheaderdescription {
  margin-bottom: 10px;
  font-size: 15px;
}

.postheadertext > h3 {
  font-size: 15px;
  margin-bottom: 5px;
}

.postbadge {
  font-size: 14px !important;
  color: var(--twitter-color);
}

.postheaderspecial {
  font-weight: 600;
  font-size: 12px;
  color: gray;
}

.postavatar {
  padding: 0 10px;
  text-align: left;
}

.posthoricon {
  float: right;
}

.post:hover {
  cursor: pointer;
}

.postblue:hover {
  color: #1d9bf0;
}

.postgreen:hover {
  color: rgb(40 240 50);
}

.postpink:hover {
  color: #f02896;
}
