@media screen & (max-width: 900px) {
  .tweet {
    display: flex;
    align-items: flex-start;
    padding-bottom: 10px;
  }
}

.postfooter {
  display: flex;
  justify-content: space-between;
  padding-left: 15px;
}

.tweet-header {
  background-color: white;
  width: 100vh;
  justify-content: space-between;
  margin-top: 5px;
  padding-left: 20px;
}

.back-btn {
  border-radius: 50px;
  margin: 5px;
  padding: 5px;
}

.back-btn:hover {
  cursor: pointer;
  color: black;
  background-color: rgb(198 195 195);
}
