@media screen & (min-width: 900px) {
  .tweet {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

.tweet-header {
  background-color: white;
  align-self: flex-start;
  width: 100%;
  margin-left: 5px;
}
