{
    "env": {
        "browser": true,
        "node": true,
        "jest": true
    },
    "extends": ["airbnb","airbnb/hooks"],
    "plugins": [
        "react",
        "jsx-a11y",
        "import"
    ],
    "rules": {
        "linebreak-style":"off",
        "jsx-a11y/click-events-have-key-events":"off",
        "react-hooks/exhaustive-deps":"off"
    }
}