.header {
  display: flex;
  justify-content: center;
}

.body {
  margin-left: 1%;
  overflow-y: scroll;
  height: 320px;
}

.password-logo {
  color: #1d9bf0;

  /* padding-top: 10px; */
  padding-left: 40%;
  padding-right: 50%;
}

.signup-icon-size {
  font-size: 40px !important;
}

.title {
  margin-top: 16px;
  color: rgb(15 20 25);
  line-height: 28px;
  font-size: 23px;
  font-family:
    TwitterChirp,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Helvetica,
    Arial,
    sans-serif;
  font-weight: 700;
}

.subtitle {
  color: rgb(83 100 113);
  font-size: small;
  margin-top: -5px;
}

.title-container {
  display: flex;
  flex-direction: column;
  margin-left: 5%;
}

.password-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.password-form label {
  color: rgb(118 118 118);
  position: relative;
  display: flex;
}

.password-form p {
  margin-right: 15px;
}

.password-form input input::placeholder {
  color: transparent;
}

.password-form span {
  position: absolute;
  bottom: 60px;
  left: 38px;
  transform: translateY(40px);
  transition-duration: 300ms;
  font-size: 17px;
}

.password-form input {
  width: 85%;
  padding: 10px;
  margin-top: 20px;
  margin-left: 25px;
  height: 35px;
  outline-color: #1d9bf0;
  border-color: rgb(207 217 222 / 70%);
  border-width: 1px;
  border-radius: 5px;
}

label:focus-within > span,
input:not(:placeholder-shown) + span {
  color: #1d9bf0;
  transform: translateY(20px);
  font-size: 0.825em;
}

.password-adornment {
  margin-top: 50px !important;
  right: 10% !important;
  position: absolute;
}

.signup-button-container {
  height: 60px;
  display: flex;
  justify-content: center;
}

.signup-button {
  background-color: rgb(15 20 25) !important;
  border: none !important;
  color: white !important;
  font-weight: 700 !important;
  font-size: 15px !important;
  text-transform: inherit !important;
  border-radius: 30px !important;
  height: 50px !important;
  padding-top: 1% !important;
  margin-bottom: 10% !important;
  margin-top: 5% !important;
  font-family:
    TwitterChirp,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Helvetica,
    Arial,
    sans-serif !important;
  line-height: 20px !important;

  /* min-width: 36px !important;
      min-height: 36px !important; */
  width: 90% !important;
}

.signup-button:hover {
  background-color: rgb(53 53 53) !important;
}

@media screen and (max-width: 700px) {
  .signup-button {
    margin-top: 5% !important;
    padding: 0 !important;
  }

  .body {
    height: 300px;
  }
}

@media screen and (max-width: 768px) {
  .body {
    height: 270px;
  }
}

@media screen and (max-width: 425px) {
  .password-form input {
    margin-left: 15px;
  }

  .signup-button {
    margin-right: 25px !important;
  }

  .body {
    height: 320px;
  }
}

@media screen and (max-width: 375px) {
  .body {
    height: 370px;
  }
}

@media screen and (max-width: 320px) {
  .signup-button-container {
    margin-top: 20%;
  }

  .body {
    height: auto;
  }
}
