.foundation {
  margin: 0;
  display: flex;
  justify-content: flex-start;

  /* to be deleted */
  height: 900px;
}

.found-margins {
  display: flex;
  justify-content: center;
}

hr {
  margin: 0;
  border: hidden;
  width: 1px;
  background-color: lightgray;
}
