.foundation {
  margin: 0;
  display: flex;
  justify-content: flex-start;
  height: fit-content;
}

.found-margins {
  display: flex;
  justify-content: center;
  height: fit-content;
}

.outlet {
  overflow-x: hidden;
  max-width: 600px;
  height: fit-content;
}
