.foundation {
  margin: 0;
  display: flex;
  justify-content: flex-start;
  height: min-content;
}

.found-margins {
  display: flex;
  justify-content: center;
  height: fit-content;
}

body {
  overflow-x: hidden;
}

.navbar-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.outlet {
  overflow-x: hidden;

  /* max-width: 600px; */
  height: fit-content;
  border-right: 1px solid rgb(225 225 225 / 40%);
  border-left: 1px solid rgb(225 225 225 / 40%);
}

.foundation-widget {
  width: 250px;
  max-width: 300px;
}

.user-menu {
  display: flex;
  border-radius: 30px;
  justify-content: space-between;
  height: 40px;
  padding: 10px;
  cursor: pointer;
  margin-bottom: 20px;
}

.user-menu-info {
  display: flex;
  width: 87%;
}

.user-menu:hover {
  background-color: #e7e7e8;
}

.user-menu-text-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.user-menu-more {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.user-menu-text {
  margin: 0;
  font-size: 15px;
}

.user-menu-text-name {
  margin: 0;
  color: #767575;
  font-weight: 400;
}

@media screen and (max-width: 910px) {
  .foundation-widget {
    display: none;
  }
}

@media screen and (max-width: 1100px) {
  .user-menu-text-container {
    display: none;
  }

  .user-menu-more {
    display: none !important;
  }
}
