.signup-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.signup-form label {
  margin-bottom: 15px;
  color: rgb(118 118 118);
  position: relative;
}

.signup-form-text {
  margin-right: 15px;
}

.signup-form span {
  position: absolute;
  bottom: 40px;
  left: 38px;
  transform: translateY(40px);
  transition-duration: 300ms;
  font-size: 17px;
}

label:focus-within > span,
input:not(:placeholder-shown) + span {
  color: #1d9bf0;
  transform: translateY(20px);
  font-size: 0.825em;
}

.password-adornment {
  margin-top: -28px !important;
  right: 2.5% !important;
  position: absolute;
}

.title {
  margin-left: 5%;
}

.body {
  margin-left: auto;
  margin-right: auto;
}

.singin-button {
  background-color: rgb(15 20 25) !important;
  border: none !important;
  color: white !important;
  font-weight: 700 !important;
  font-size: 15px !important;
  text-transform: inherit !important;
  border-radius: 30px !important;
  height: 50px !important;
  padding-top: 1% !important;
  margin-bottom: 10% !important;
  margin-top: 30% !important;
  font-family:
    TwitterChirp,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Helvetica,
    Arial,
    sans-serif !important;
  line-height: 20px !important;
  width: 90% !important;
}

.dont-have-acount {
  font-size: 14px;
  font-weight: 400;
  color: #536471;
}

.login-text {
  display: flex;
  justify-content: flex-start;
}

.login-text-span {
  color: #1d9bf0;
}
