.forgot-password-container {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.forgot-password-form {
  display: flex;
  flex-direction: column;
}

.forgot-password-form label {
  margin-bottom: 15px;
  color: rgb(118 118 118);
  position: relative;
}

.signup-form-text {
  margin-right: 15px;
}

.forgot-password-form span {
  position: absolute;
  bottom: 40px;
  left: 38px;
  transform: translateY(40px);
  transition-duration: 300ms;
  font-size: 17px;
}

label:focus-within > span,
input:not(:placeholder-shown) + span {
  color: #1d9bf0;
  transform: translateY(20px);
  font-size: 0.825em;
}

.title {
  margin-left: 5%;
}

.forgot-password-button {
  background-color: rgb(15 20 25) !important;
  border: none !important;
  color: white !important;
  font-weight: 700 !important;
  font-size: 15px !important;
  text-transform: inherit !important;
  border-radius: 30px !important;
  height: 50px !important;
  padding-top: 1% !important;
  margin-bottom: 10% !important;
  margin-top: 20% !important;
  font-family:
    TwitterChirp,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Helvetica,
    Arial,
    sans-serif !important;
  line-height: 20px !important;
  width: 90% !important;
}

.forgot-password-button:hover {
  background-color: rgb(53 53 53) !important;
}

.subtitle {
  font-size: 14px;
  font-weight: 400;
  color: #536471;
  margin-left: 5%;
}

.password-adornment {
  margin-top: -28px !important;
  right: 2.5% !important;
  position: absolute;
}
