.wrapper {
  background-color: white;
  cursor: pointer;
  border: none;
  border-top: 1px solid rgb(225 225 225 / 40%);
  display: flex;
}

.wrapper:hover {
  background-color: #e9ebec;
  border-width: thin;
  border-color: rgb(230 230 230);
}

.text-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
}

.profile-img {
  vertical-align: middle;
  width: 60px;
  height: 60px;
  border-radius: 60px;
  padding: 10px;
}

.description {
  font-size: 15px;
  font-weight: 450;
  margin: 10px 0;
  width: 50%;
}

.username {
  font-size: 15px;
  font-weight: 350;
}

.default-button {
  font-size: 15px !important;
  font-weight: bold;
  border-radius: 60px;
  height: fit-content;
  width: fit-content;
  cursor: pointer;
  padding: 15px;
  margin: 0 15px;
}

.button-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.tweetfollowbutton {
  background-color: rgb(0 0 0);
  color: #edf7fe;
}

.tweetfollowbutton::after {
  content: "Follow";
}

.tweetfollowbutton:hover {
  background-color: rgb(48 48 48);
}

.tweetfollowingbutton {
  background-color: rgb(255 255 255);
  border-width: 2px;
  border-color: rgb(225 225 225 / 40%);
  color: #000;
}

.tweetfollowingbutton::after {
  content: "Following";
}

.tweetfollowingbutton:hover {
  background-color: rgb(244 33 46 10%);
  border-color: rgb(253 201 206);
  color: #f00;
}

.tweetfollowingbutton:hover::after {
  content: "Unfollow";
}

.tweetblockbutton {
  background-color: #fee8ea;
  color: #f52f3c;
  border-width: 1px;
  border-color: #e71725;
}

.tweetblockbutton::after {
  content: "Block";
}

.tweetblockbutton:hover {
  background-color: #ffa2aa;
}

.tweetunblockbutton {
  background-color: #e71725;
  color: #fff4f4;
  border-width: 1px;
  border-color: #e71725;
}

.tweetunblockbutton::after {
  content: "Blocked";
}

.tweetunblockbutton:hover {
  background-color: #b5131e;
  color: #fed2d5;
}

.tweetunblockbutton:hover::after {
  content: "Unblock";
}
