@import '~antd/dist/antd.css';

.searchbarTop {
  background-color: "#E2F1F1";
  display:block;
  position:relative;
  z-index:10;

}


.searchbar {
  display: flex;
  margin: 5px;
  height: 40px;
  border: 1px solid gray;
  border-radius: 50px;
  box-sizing: border-box;
}

.searchbar-icon {
  stroke-width: 0.001;
  margin: auto;
}

.searchbar-input {
  flex-grow: 1;
  margin-right: 15px;
  border: 0;
  outline: 0;
}

.searchbar-input:focus + .searchbar-icon {
  color: rgb(29 155 240);
}

.searchbar-input:focus {
  border: 0;
  outline: 0;
}

.searchbar:focus-within {
  border: 2px solid rgb(29 155 240);
}

.flex1 {
  background-color: white;
  color: black;
  font-weight: bold;
  text-align: center;

  /* padding: 20px; */
  display: flex;
  flex-direction: row;
}

.flex-container {
  flex: auto;
  background-color: white;
  width: 278px;
  height: 53px;
  margin: auto;
  cursor: pointer;
  border: none;
  font-weight: bold;
}

.flex-container:hover {
  background-color: #e9ebec;

  /* border-radius: 21px; */
  height: 53px;
  width: 278px;
}

