body {
  --twitter-color: #50b7f5;
  --twitter-background: #e6ecf0;
}

.app {
  display: flex;
  height: 100vh;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px;
}

.app-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .app-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.app-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.app-link {
  color: #61dafb;
}

@keyframes app-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* /////SignUp and Login//////// */
.signup-background {
  background: center;
  background-color: rgb(0 0 0 / 40%);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.start-modals-container {
  background: #fff;

  /* min-height: 400px; */

  /* max-width: 600px; */

  /* height: 65vh; */

  height: 550px;
  width: 600px;

  /* min-width: 600px; */
  flex-shrink: 1;
  border-radius: 16px;
  padding: 10px;
  z-index: 100;
}

@media screen and (max-width: 768px) {
  .start-modals-container {
    height: 90vh;
  }
}

@media screen and (max-width: 700px) {
  .start-modals-container {
    height: 100%;
    width: 100%;
    border-radius: 0;
    position: absolute;

    /* margin-bottom: -100%; */
  }
}

/* //////////////SignUp and Login States////////////// */

.start-modals-header {
  display: flex;
  justify-content: center;
}

.start-modals-body {
  margin-left: 1%;
  overflow-y: scroll;
  overflow: hidden;
  height: 320px;
}

.start-modals-icon-size {
  font-size: 40px !important;
}

.start-modals-title-container {
  display: flex;
  flex-direction: column;
  margin-left: 5%;
}

.start-modals-form-input {
  width: 85%;
  padding: 10px;
  margin-top: 20px;
  margin-left: 25px;
  height: 35px;
  outline-color: #1d9bf0;
  border-color: rgb(207 217 222 / 70%);
  border-width: 1px;
  border-radius: 5px;
}

.start-modals-form-label {
  margin-bottom: 15px;
  color: rgb(118 118 118);
  position: relative;
}

.start-modals-button-container {
  height: 60px;
  display: flex;
  justify-content: center;
}

.start-modals-button {
  background-color: rgb(15 20 25) !important;
  border: none !important;
  color: white !important;
  font-weight: 700 !important;
  font-size: 15px !important;
  text-transform: inherit !important;
  border-radius: 30px !important;
  height: 50px !important;
  padding-top: 1% !important;
  margin-bottom: 10% !important;
  margin-top: 5% !important;
  font-family:
    TwitterChirp,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Helvetica,
    Arial,
    sans-serif !important;
  line-height: 20px !important;
  width: 90% !important;
}

.start-modals-form-errors {
  color: rgb(244 33 46);
  margin-left: 25px;
  font-weight: 400;
  line-height: 16px;
  font-size: 13px;
}

.start-modals-button:hover {
  background-color: rgb(53 53 53) !important;
}

@media screen and (max-width: 768px) {
  .start-modals-body {
    height: 270px;
  }
}

@media screen and (max-width: 425px) {
  .start-modals-body {
    height: 320px;
  }
}

@media screen and (max-width: 375px) {
  .start-modals-body {
    height: 370px;
  }
}

@media screen and (max-width: 320px) {
  .start-modals-body {
    height: auto;
  }

  .start-modals-button-container {
    margin-top: 20%;
  }
}
