/* .settings {
  text-align: center;
} */
.header1 {
  text-align: left;
  font-size: 20px;
  font-weight: bold;
  padding-left: 50px;
  padding-top: 20px;

  /* padding-bottom: -100px; */
}

.header2 {
  text-align: left;
  font-size: 14px;
  font-weight: 400;
  padding-left: -200px;
  padding-top: -200px;
  top: 100;
  left: 100px;

  /* padding-bottom: -100px; */
  color: rgb(89 105 118);
}

.flex1 {
  background-color: white;
  color: black;
  font-weight: bold;
  text-align: center;

  /* padding: 20px; */
  display: flex;
  flex-direction: row;
}

.flex-container {
  flex: auto;
  background-color: white;
  width: 310px;
  height: 53px;
  margin: auto;
  cursor: pointer;
  border: none;
  font-weight: bold;
}

.flex-container:hover {
  background-color: #e9ebec;

  /* border-radius: 21px; */
  height: 53px;
  width: 310px; /* 278px */
}

.backarrow {
  color: black;
  font-size: 25px !important;
  line-height: normal;
  position: relative;
  top: -26px;
  left: -40px;
  width: 35px;
  height: 35px;
  font-weight: lighter;
  transform: scale(0.9);
  cursor: pointer;
}

.backarrow:hover {
  background-color: #e9ebec;
  border-radius: 50%;
  width: 35px;
  height: 35px;
}

.line {
  color: rgb(247 249 249);
  font-weight: 100;
}
